<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form-container">
    <form action="/account/register" method="post">
            <label class="top">First Name*<input type="text" name="account_firstname" required id="account_firstname" value="<%= locals.account_firstname %>"></label>
            <label class="top">Last Name*<input type="text" name="account_lastname" required id="account_lastname" value = "<%= locals.account_lastname %>"></label>
            <label class="top">Email*<input type="email" name="account_email" placeholder="someone@gmail.com" required value = "<%= locals.account_email %>"
                    id="account_email">
            </label>
            <label class="top">Password* <input type="password" name="account_password" id="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
                title="at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character"></label>
            <label class="pwderror"></label>
            <span>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character.</span>
<!-- 
            <label class="top" for="accountPassword">Password:</label> 
            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
            <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"> -->
            
            <input type="submit" value="Register" class="submitBtn">
    </form>
</div>


